<%- include('partials/head') %>
<body>
  <%- include('partials/header')%>

  <h1>Student <%= student.fName %> <%= student.lName %> and their courses</h1>
  <% if (courses.length > 0){ %>
  <ul>
    <% courses.forEach(course => { %>
    <li>
      <strong><%= course.courseName %>:</strong> <%= course.description %>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>student has no courses.</p>
  <form action="/enrollStudent" method="POST">
    <input type="hidden" name="studentId" value="<%= studentId %>" />
    <label for="courseId">Select Course:</label>
    <select name="courseId" id="courseId">
      <% dbCourses.forEach(course => { %>
      <option value="<%= course.id %>"><%= course.name %></option>
      <%})%>
    </select>
    <button type="submit">Enroll</button>
  </form>
  <% }%>
</body>
